Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.env
.env.local
.env.production.local
.next
.git
.gitignore
.vercel
.turbo
coverage
.nyc_output
**/node_modules
**/.next
dist
**/dist
docker-compose*.yml
*.log
.env*