name: 1. Automatic CI - Build Images

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    environment: dev
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and Push API Image
        uses: docker/build-push-action@v5
        with:
          context: ./api
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/betterdriver-api:latest, ${{ secrets.DOCKER_USERNAME }}/betterdriver-api:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Build and Push WEB Image
        uses: docker/build-push-action@v5
        with:
          context: ./web
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/betterdriver-web:latest, ${{ secrets.DOCKER_USERNAME }}/betterdriver-web:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Write Commit SHA File
        run: echo "${{ github.sha }}" > sha.txt
      - name: Save Commit SHA as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: commit-sha
          path: sha.txt